[user]
	email = aaron.lelouvier@protonmail.com
	name = Aaron Lelouvier
[pull]
    rebase = true
[alias]
	new = checkout -b
    st = status
    ci = commit
    wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
[init]
	defaultBranch = main
[core]
	excludesfile = /home/aaron/.config/git/.gitignore
